<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219535082125-tesn7ka091a3rh271hp7irik06443539.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219535082125-tesn7ka091a3rh271hp7irik06443539</string>
	<key>API_KEY</key>
	<string>AIzaSyAN_MqLCTkv3UMEBd2jvnYZyZ_NMjdC2vc</string>
	<key>GCM_SENDER_ID</key>
	<string>219535082125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-4464e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-4464e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219535082125:ios:a8069619b0d69bf1dc18c4</string>
</dict>
</plist>